Source: freifunk-firewall
Section: freifunk
Priority: extra
Maintainer: Julian Rueth <julian.rueth@fsfe.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: freifunk-firewall
Architecture: all
Depends: ${misc:Depends}, iptables-persistent
Description: default firewall configuration for a freifunk server
